
.cabecera {
  height: 150px;
  border: 1px solid black;
  text-align: center;
  background-image: url("/media/acero.jpg");
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px black;     
}

footer {
  border: 1px solid black;
  margin-top: 10px;
  font: 15px italic verdana;
}

#hoja_de_trabajo {
  width: 95%;
  border: 2px dashed gray;
  margin: 0 auto;
  overflow: auto;
}

#hoja_de_trabajo h2 {
  text-align: center;
}

.lista_proyecto {
  font: bold 25px solid black;
  border: 1px dashed black;
  padding: 10px;
  background-color: antiquewhite;
  margin-bottom: 0;
  padding: 20px;
}
.contenedor_proyecto {
  border: 1px solid black;
  margin-bottom: 3px;
  text-align: center;
}

.contenedor_proyecto:hover{
  background-color:lightgrey;
}

.estado_proyecto{
  display: inline-block;
  border: 1px solid black;
  width: 20%;
  margin-right: 5px;
  padding: 25px;
  border-radius: 10px;
  background-color: antiquewhite;
  
}

.descripcion_proyecto {
  display: inline-block;
  border: 1px solid black;
  width: 50%;
  padding: 25px;
  border-radius: 10px;
  background-color: antiquewhite;    
}

.contenedor_materiales {
  
  margin: 0 auto;
  
   
  
  margin-bottom: 10px;
}

.planos {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;  
  width: 20%;
  background-color: antiquewhite;
}

.materiales {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
  width: 50%;
  background-color: antiquewhite;
}