
.cabecera {
  height: 150px;
  border: 1px solid black;
  text-align: center;
  background-image: url("/media/acero.jpg");
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px black;     
}

footer {
  border: 1px solid black;
  margin-top: 10px;
  background-color: lightgrey;
  
}

footer img {
  margin-top: 15px;
}

footer ul,li {
  font-size: 20px; 
  display: inline-block;
  font-weight: bold;
  padding: 20px;
  align-items: center;
}

#hoja_de_trabajo {
  width: 95%;
  border: 2px dashed gray;
  margin: 0 auto;
  overflow: auto;
}

#hoja_de_trabajo h2 {
  text-align: center;
}

.lista_proyecto {
  font: bold 30px solid black;
  border: 1px dashed black;
  border-radius: 15px;
  padding: 25px;
  background-color: antiquewhite;
  width: 95%;
  margin: 0 auto;
  
}
.contenedor_proyecto {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}



.estado_proyecto{
  display: inline-block;
  border: 1px solid black;
  width: 20%;
  margin-right: 5px;
  padding: 25px;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 20px;
  
}

.descripcion_proyecto {
  display: inline-block;
  border: 1px solid black;
  width: 50%;
  padding: 25px;
  border-radius: 10px;
  background-color: antiquewhite;    
}

.contenedor_materiales {
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 20px;
}

.planos {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;  
  width: 20%;
  background-color: antiquewhite;
  margin-right: 5px;
}

.materiales {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
  width: 50%;
  background-color: antiquewhite;
}

.contenedor_trazabilidad {
  margin-bottom: 20px;
}

.contenedor_trazabilidad p {
  border: 1px solid black;
  padding: 20px;
  display: inline-block;
  background-color: antiquewhite;
  width: 90%;
  border-radius: 10px;
  font-size: 20px;

}

.contenedor_trazabilidad ul {
  margin: 0;
  list-style-type: none;
  
}

.contenedor_trazabilidad li {
  display: inline-block;
  padding: 15px;
  border: 1px dashed lightgray;
  width: 40%;
  font-size: 19px;
}

.contenedor_trazabilidad li:hover {
  border: 3px dashed darkgrey;
}

#barra {
  width: 95%;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

#barra p {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(216, 204, 189);
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

#casillas_para_enviar {
  font-size: 25px;
  margin-bottom: 15px;
  padding: 20px;
}

#barra_boton {
  font-size: 25px;
  margin-bottom: 15px;
  border: 1px solid black;
  display: inline-block;
  padding: 25px;
}

#barra button {
  font-size: 20px;
  padding: 25px;
  width: 120px;
}

#correo {
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 35px;
}